body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden; /* Hide body scrollbars */
    font-family: 'Arial', sans-serif;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.clock {
    background: #c98517;
    padding: 20px;
    border-radius: 10px;
    font-size: 48px; /* Adjust font size as needed */
    color: black;
    box-sizing: border-box;
}

.date {
    background: #c98517;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
