body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: black;
}

.clock {
    background: #c98517;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.date {
    background: #c98517;
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    color: black;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
